---
---

<footer class="main-footer">
  <p>
    NH Digital ©️
    <span id="year"></span>
  </p>
  <p>
    Desarrollado por:
    <a href="http://nh-digital.dev" target="_blank" rel="noopener noreferrer"
      >Nh Digital</a
    >
  </p>
</footer>
<script>
  document.getElementById('year').innerHTML = String(new Date().getFullYear());
</script>
